<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "ClinGen Data Model" %></title>
    
    <%= stylesheet_link_tag "bootstrap", "bootstrap-theme" %>
  </head>
  
  <body class="<%= page_classes %>">
    <div class="container">
      <div class="row">
	<div class="col-md-2">
	  <% data.models.names.each do |model| %>
	  <h4><%= link_to "#{model}", "/#{model}" %></h4>
	  <h5><%= link_to "resource", "/#{model}/resource" %></h5>
	  <ul class="list-unstyled">
	    <li><%= link_to "entities", "/#{model}/resource/entities" %></li>
	    <li><%= link_to "value sets", "/#{model}/resource/value_sets" %></li>
	    <li><%= link_to "schemas", "/#{model}/resource/schemas" %></li>
	    <li><%= link_to "examples", "/#{model}/resource/examples" %></li>
	  </ul>
	  <h5><%= link_to "conceptual", "/#{model}/conceptual" %></h5>
	  <ul class="list-unstyled">
	    <li><%= link_to "entities", "/#{model}/conceptual/entities" %></li>
	    <li><%= link_to "value sets", "/#{model}/conceptual/value_sets" %></li>
	  </ul>
	  <% end %>
	</div>
	<div class="col-md-10">
	  <h1>
	    <%= current_page.data.title %>
	    <small>
	      <%= link_to current_page.data.sequence_ontology, "http://www.sequenceontology.org/browser/current_svn/term/#{current_page.data.sequence_ontology}"  %>
	    </small>
	  </h1>
	  <% if current_page.data.description %>
	  <p class="lead">
	    <%= current_page.data.description %>
	  </p>
	  <% end %>
	  <%= yield %>
	</div>
      </div>
    </div>
  </body>
</html>
