<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "ClinGen Data Model" %></title>
    
    <%= stylesheet_link_tag "bootstrap", "bootstrap-theme" %>
    <%= javascript_include_tag  "bootstrap" %>
  </head>
  
  <body class="<%= page_classes %>">
    <div class="container">
      <div class="row">
	<div class="col-md-4">
	    <% data.models.names.each do |model| %>
	    <h4><%= link_to "#{model}", "/#{model}" %></h4>
	    <dl>
	    <dt><%= link_to "resource", "/#{model}/resource" %></dt>
	    <% sitemap.resources.select{|r| r.path =~ /^#{model}\/resource/ and not r.path =~ /index\.html/ }.each do |r| %>
	    <dd><%= link_to r.data.title, r.url %></dd>
	    <% end %>
	    <dt><%= link_to "conceptual", "/#{model}/conceptual" %></dt>
	    <% sitemap.resources.select{|r| r.path =~ /^#{model}\/conceptual/ and not r.path =~ /index\.html/}.each do |r| %>
	    <dd><%= link_to r.data.title, r.url %></dd>
	    <% end %>
	    <% end %>
	  </dl>
	</div>
	<div class="col-md-8">
	  <h1>
	    <%= current_page.data.title %>
	    <small>
	      <%= link_to current_page.data.sequence_ontology, "http://www.sequenceontology.org/browser/current_svn/term/#{current_page.data.sequence_ontology}"  %>
	    </small>
	  </h1>
	  <% if current_page.data.description %>
	  <p class="lead">
	    <%= current_page.data.description %>
	  </p>
	  <% end %>
	  <%= yield %>
	</div>
      </div>
    </div>
  </body>
</html>
