<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#######">

    <title>
      <%= current_page.data.title || "ClinGen Data Model" %>
    </title>

    <%= stylesheet_link_tag "bootstrap", "bootstrap-theme", "brand2" %>
    <% (current_page.data.append_css || []).each do |cssfile| %>
      <%= stylesheet_link_tag cssfile %>
    <% end %>

    <% if build? %>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49947422-3', 'auto');
      ga('send', 'pageview');
    </script>
    <% end %>

  </head>

  <body class="documentation">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header col-sm-4 col-md-3">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand " href="#">ClinGen Documentation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <%= link_to 'About', '/' %>
              <!-- <a href="/">About</a> -->
            </li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >
                Models
                <% if current_page.data.model %>
                ::
                <span class="glyphicon <%= data.models[current_page.data.model].icon %>"></span><%= model_name %>
                <% end %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <% data.models.each do |model, config| %>
                <li class="<%= model %>" >
                  <%= model_link(model) %>
                </li>
                <% end %>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ><%= data.current_release %> release<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% data.versions.each do |v| %>
                <li><%= link_to v, "/#{v}#{current_page.url}" %></li>
                <% end %> 
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class='container-fluid bg-lblue padding-left-none padding-right-none'>
      <div class='col-sm-offset-4 col-md-offset-3'>
        <ol class="breadcrumb bg-none margin-none">
          <%= breadcrumb(current_page) %>
        </ol>
      </div>
    </div>

    <%= yield %>

    <!-- Bootstrap core JavaScript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'jquery', 'bootstrap' %>
    <% (current_page.data.append_js || []).each do |jsfile| %>
      <%= javascript_include_tag jsfile %>
    <% end %>

  </body>
</html>
