<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "ClinGen Data Model" %></title>
    
    <%= stylesheet_link_tag "bootstrap", "bootstrap-theme" %>
  </head>
  
  <body class="<%= page_classes %>">
    <div class="container">
      <div class="row">
	<div class="col-md-3">
	  <% data.models.names.each do |model| %>
	  <h4><%= link_to "#{model}", "/#{model}" %></h4>
	  <h5><%= link_to "Resource", "/#{model}/resource" %></h5>
	  <ul class="list-unstyled">
	    <li><%= link_with_local_index "Gene", "/#{model}/resource/gene" %></li>
	    <li><%= link_with_local_index "ReferenceSequence", "/#{model}/resource/reference_sequence" %></li>
	    <li><%= link_with_local_index "SimpleAllele", "/#{model}/resource/simple_allele" %></li>
	    <li><%= link_with_local_index "CanonicalAllele", "/#{model}/resource/canonical_allele" %></li>
	  </ul>
	  <h5><%= link_to "Conceptual", "/#{model}/conceptual" %></h5>
	  <ul class="list-unstyled">
	    <li><%= link_with_local_index "Gene", "/#{model}/conceptual/gene" %></li>
	    <li><%= link_with_local_index "ReferenceSequence", "/#{model}/conceptual/reference_sequence" %></li>
	    <li><%= link_with_local_index "SimpleAllele", "/#{model}/conceptual/simple_allele" %></li>
	    <li><%= link_with_local_index "CanonicalAllele", "/#{model}/conceptual/canonical_allele" %></li>
	  </ul>
	  <h5><%= link_to "Implementation", "/#{model}/implementation" %></h5>
	  <ul class="list-unstyled">
	    <li><%= link_with_local_index "FHIR Specification", "/#{model}/implementation/fhir_specification" %></li>
	    <li><%= link_with_local_index "Value Set List", "/#{model}/implementation/value_set_list" %></li>
	    <li><%= link_with_examples_index "Examples", "/#{model}/implementation/examples" %></li>
	    <li><%= link_with_local_index "Schemas", "/#{model}/implementation/schemas" %></li>
	  </ul>
	  <% end %>
	</div>
	<div class="col-md-9">
	  <h1>
	    <%= current_page.data.title %>
	    <small>
	      <%= link_to current_page.data.sequence_ontology, "http://www.sequenceontology.org/browser/current_svn/term/#{current_page.data.sequence_ontology}"  %>
	    </small>
	  </h1>
          <% if current_page.data.related_page %>
          <p>
            related: <%= link_to current_page.data.title, current_page.data.related_page %>
          </p>
          <% end %>
	  <% if current_page.data.description %>
	  <p class="lead">
	    <%= current_page.data.description %>
	  </p>
	  <% end %>
	  <%= yield %>
	</div>
      </div>
    </div>
  </body>
</html>
