<% wrap_layout :layout  do %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-3 sidebar">
      <ul class="nav nav-sidebar">
        <li class='nav-sidebar-title'>
        <%= image_tag 'clingen-doc-logo.png', width: "438", height: "108", alt: "ClinGen Documentation", class: "img-responsive" %>
          <!-- <img src="/images/clingen-doc-logo.png" width="438" height="108" alt="ClinGen Documentation" class="img-responsive"/> -->
        </li>
        <%= discussion_link_with_local_index "Discussion" %>
        <%= link_with_local_index "Implementation", "/implementation/index.html" %>
        <%= link_with_local_index "Resource", "/resource/index.html" %>
        <%= link_with_local_index "Conceptual", "/conceptual/index.html" %>
      </ul>
    </div>
    <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
      <article>
        <h1><%= current_page.data.title %></h1>
        <hr class='col-sm-12' />
        <!-- <ul class="list-unstyled"> -->
        <!--   <li class='col-sm-6 col-md-4'><a href="#introduction">Introduction</a></li> -->
        <!--   <li class='col-sm-6 col-md-4'><a href="#selects">Selects</a></li> -->
        <!-- </ul> -->
        <!-- <hr class='col-sm-12' id="sticky-nav-anchor" /> -->
        <!-- <div class='row'><div id="sticky-nav"> -->
        <!--     <div class="navbar navbar-default col-sm-12"> -->
        <!--       <ul class="nav navbar-nav"> -->
        <!--         <li class="dropdown"> -->
        <!--           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Query Builder</strong> :: Introduction <span class="caret"></span></a> -->
        <!--           <ul class="dropdown-menu" role="menu"> -->
        <!--             <li><a href="#">Action</a></li> -->
        <!--             <li><a href="#">Another action</a></li> -->
        <!--           </ul> -->
        <!--         </li> -->
        <!--       </ul> -->
        <!--       <form class="navbar-form navbar-right" role="search"> -->
        <!--         <div class="input-group"> -->
        <!--           <div class="input-group-btn"> -->
        <!--             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Page <span class="caret"></span></button> -->
        <!--             <ul class="dropdown-menu" role="menu"> -->
        <!--               <li><a href="#">Model</a></li> -->
        <!--               <li><a href="#">Site</a></li> -->
        <!--             </ul> -->

        <!--           </div><\!-- /btn-group -\-> -->
        <!--           <input type="text" class="form-control" aria-label="" placeholder='Search'> -->
        <!--           <span class="input-group-btn"> -->
        <!--             <button class="btn btn-default" type="button">Go!</button> -->
        <!--           </span> -->
        <!--         </div><\!-- /input-group -\-> -->
        <!--       </form> -->
        <!--   </div> </div> -->
        <!-- </div><\!-- /.navbar-collapse -\-> -->
        <%= yield %>
      </article>
    </div>
  </div>
</div>
<% end %>
