<% wrap_layout :layout  do %>
    <div class="col-sm-8 col-xs-12 col-md-9 col-lg-10">
      <article>
        <%= yield %>
      </article>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
      <div class="list-group sidenav">
        <ul class="list-unstyled">
          <li class="list-group-item">
            <h5><%= link_to "Allele Overview", "/index.html", :relative => true %></h5>
          </li>
          <%= link_with_local_index "Discussion", "/discussion/index.html" %>
          <%= link_with_local_index "Implementation", "/implementation/index.html" %>
          <%= link_with_local_index "Resource", "/resource/index.html" %>
          <%= link_with_local_index "Conceptual", "/conceptual/index.html" %>
        </ul>
      </div>
    </div>
<% end %>
