<% wrap_layout :model do %>
  <%= yield %>
  <h2>Attributes</h2>
  <% data.resource[current_page.data.data_file].attributes.each do |a| %>
    <div class="row">
      <div class="col-xs-12">
        <h3> <%= a.title %> <small><%= link_to a.type, a.type %></small> </h3>
        <%= partial a.title %>
      </div>
    </div>
  <% end %>
  <h2>Schema</h2>


  <p>schema: <%= link_to "#{current_page.data.title}.xsd", current_page.data.schema %></p>
  <h2>Examples</h2>
  <%= examples_table(current_page.data.title) %>
<% end %>
