<% wrap_layout :layout do %>
   <% if current_page.data.context %>
   <h2>Definitions &amp; Bindings</h2>
   <script type="text/javascript">
   function toggle_visibility(clazz) {
      var hidername = clazz + '-hider'
      var hider = document.getElementById(hidername);
      if (hider) {
         console.log('showing');
         hider.parentNode.removeChild(hider);
      } else {
         console.log('hiding');
         hider = document.createElement('style');
         hider.id = hidername;
         hider.innerHTML = "." + clazz + "{ display: none; }"
         document.body.appendChild(hider);
      }
   }
   toggle_visibility('context-requirement');
   </script>
   <button onclick="toggle_visibility('context-requirement');">Toggle requirements</button>

   <% current_page.data.context.each do |attribute| %>
   <h4 class="h4-definition" id="<%= current_page.data.title %>-definition">
      <%= "#{current_page.data.title}.#{attribute.property}" %>
   </h4>

   <dl class="dl-horizontal dl-definition">
      <dt>Definition</dt>
      <dd><%= attribute.definition %></dd>
      <dt>Control</dt>
      <dd><%= attribute.control %></dd>
      <% if attribute.binding %>
      <dt>Binding</dt>
      <dd><%= attribute.binding %></dd>
      <% end %>
      <dt>Type</dt>
      <dd><%= attribute.type %></dd>
      <% if attribute.requirements %>
      <dt class="context-requirement">Requirements</dt>
      <dd class="context-requirement"><%= render_markdown attribute.requirements %></dd>
      <% end %>
   </dl>

   <% end %>

   <% end %>
   <%= yield %>
   <h2>Schema</h2>
   <p>schema: <%= link_to "#{current_page.data.title}.xsd", current_page.data.schema %></p>
   <h2>Examples</h2>
   <%= examples_table(current_page.data.title) %>
<% end %>